src/test/resources/validation/father-glory.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<!-- Validation file for FatherClassGlory XML files -->

	<!-- ************************************************************ -->
	<!-- *************************** ROOT *************************** -->
	<!-- ************************************************************ -->

	<xs:element name="father_glory">
		<xs:complexType>
			<xs:all>
				<xs:element name="name" type="xs:string" />
				<xs:element name="base_glory" type="xs:integer" />
				<xs:element name="yearly_glory" type="xs:integer" />
			</xs:all>
		</xs:complexType>
	</xs:element>

</xs:schema>