src/test/resources/validation/father-glory.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:rpgs="http://www.rpgtb.org/XMLValidation">
	<xs:import schemaLocation="XMLValidation.xsd"
		namespace="http://www.rpgtb.org/XMLValidation" />

	<xs:element name="father_class_glory">
		<xs:complexType>
			<xs:all>
				<xs:element name="base_glory" type="rpgs:valuehandler"
					minOccurs="0" />
				<xs:element name="per_year_glory" type="rpgs:valuehandler"
					minOccurs="0" />
			</xs:all>
			<xs:attribute name="name" type="xs:string" use="required" />
		</xs:complexType>
	</xs:element>

</xs:schema>