src/test/resources/validation/homeland.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:ptbs="http://www.ptb.org/XMLValidation">
	<xs:import schemaLocation="PTBValidation.xsd"
		namespace="http://www.ptb.org/XMLValidation" />

	<xs:element name="homeland">
		<xs:complexType>
			<xs:all>
				<xs:element name="template_bonus" type="ptbs:templateGeneral"
					minOccurs="0" />
				<xs:element name="template_base_values" type="ptbs:templateGeneral"
					minOccurs="0" />
			</xs:all>
			<xs:attribute name="name" type="xs:string" use="required" />
		</xs:complexType>
	</xs:element>

</xs:schema>