src/test/resources/validation/item.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<!-- Validation file for Item XML files -->

	<!-- ************************************************************ -->
	<!-- *************************** ROOT *************************** -->
	<!-- ************************************************************ -->

	<xs:element name="item">
		<xs:complexType>
			<xs:all>
				<xs:element name="name" type="xs:string" />
				<xs:element name="description" type="xs:string" />
			</xs:all>
		</xs:complexType>
	</xs:element>

</xs:schema>