src/test/resources/validation/roll-table.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:ptbs="http://www.ptb.org/XMLValidation">
	<xs:import schemaLocation="PTBValidation.xsd"
		namespace="http://www.ptb.org/XMLValidation" />

	<xs:element name="roll_table">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="intervals" type="ptbs:storedSimpleIntervals" />
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required" />
		</xs:complexType>
	</xs:element>

</xs:schema>