src/test/resources/validation/shield.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<!-- Validation file for Shield XML files -->

	<!-- ************************************************************ -->
	<!-- *************************** ROOT *************************** -->
	<!-- ************************************************************ -->

	<xs:element name="shield">
		<xs:complexType>
			<xs:all>
				<xs:element name="name" type="xs:token" />
				<xs:element name="armor_value" type="xs:integer" />
			</xs:all>
		</xs:complexType>
	</xs:element>

</xs:schema>